### AirBnB Dataset Cleaning for visualization

# **Project Name**    - AirBnb Project

##### **Project Type**    - EDA and Preparing clean dataset for Visualization
##### **Contribution**    - Individual
##### **Team Member -** - SHREYASH FULCHAND GONGALE

### Import Libraries

In [ ]:
# Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import seaborn as sns
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
import plotly.express as px
import random
from wordcloud import WordCloud
import ast
import statsmodels as stat
import geopandas as geo

### Dataset Loading

In [ ]:
# Load Dataset
md = pd.read_csv("/content/listings_chicago.csv")
md2 = pd.read_csv("/content/listings_orleans.csv")

### Dataset First View

In [ ]:
# Dataset First Look (for chicago city)
md.head(5)

In [ ]:
# dataset first look (New orleans city)
md2.head(5)

### Dataset Rows & Columns count

In [ ]:
# Dataset Rows & Columns count
md.shape

In [ ]:
md2.shape

### Dataset Information

In [ ]:
# Dataset Info
md.info()

In [ ]:
md2.info()

#### Duplicate Values

In [ ]:
# Dataset Duplicate Value Count
# Check for duplicate values
duplicates = md.duplicated(keep=False)

# Count the duplicate values
duplicate_count = duplicates.value_counts()

print(duplicate_count)

In [ ]:
# Dataset Duplicate Value Count
# Check for duplicate values
duplicates = md2.duplicated(keep=False)

# Count the duplicate values
duplicate_count = duplicates.value_counts()

print(duplicate_count)

#### Missing Values/Null Values

In [ ]:
# Missing Values/Null Values Count
md.isnull().sum()

In [ ]:
md2.isnull().sum()

In [ ]:
# Visualizing the missing values
import missingno as ms
ms.bar(md)
plt.show()

In [ ]:
# Visualizing the missing values
import missingno as ms
ms.bar(md2)
plt.show()

### What did you know about your dataset?

The dataset has two parts:-
1) chicago listings dataset - total 8748 rows and 18 columns with no duplicate rows.
2) new orleans listings dataset - total 7842 rows and 18 columns with no duplicate rows.

Both datasets have some columns having missing values, the following are the columns:-

For Chicago Listings Dataset

    Column Name-------------Count of Missing values
1)  neighbourhood_group-----8748
2)  price-----1030
3)  last_review-----1878                      
4)  reviews_per_month-----1878
5)  license-----1903

For New Orleans Listings Dataset

    Column Name-------------Count of Missing values
1)  neighbourhood_group-----7842
2)  host_name-----13
3)  price-----1202
4)  last_review-----1328                       
5)  reviews_per_month-----1328
6)  license-----1349

## ***2. Understanding Your Variables***

In [ ]:
# Dataset Columns
md.columns

In [ ]:
md2.columns

In [ ]:
# Dataset Describe
md.describe()

In [ ]:
md2.describe()

### Variables Description

The following are the variables for the datasets:-

    Column name----------------------------------description
1) id-----------------------unique id for the row.
2) name-----------------------name of the hotel of particular city.
3) host_id-----------------------id of the host of the hotel.
4) host_name-----------------------name of the host person representating the hotel.
5) neighbourhood_group-----------------------neighbourhood group residing near hotel.
6) neighbourhood-----------------------neighbourhood or nearest landmark to locate the hotel.
7) latitude----------------------- horizontal geographical coordinates.
8) longitude----------------------- vertical geographical coordinates.
9) room_type----------------------- type of room offered by the hotel.
10) price----------------------- price of the room type offered by the hotel.
11) minimum_nights----------------------- minimum no of nights required to book the room.
12) number_of_reviews----------------------- total number of reviews received by the hotel.
13) last_review----------------------- recent review for the hotel given by the customer.
14) reviews_per_month----------------------- total no of reviews per month.
15) calculated_host_listings_count----------------------- total count of listings for the hotel done by host.
16) availability_365----------------------- no of days availability of the room per year.
17) number_of_reviews_ltm----------------------- total no of reviews for the last 12 months.
18) license----------------------- license serial no for the hotel representating the legal registration of the hotel.

## 3. ***Data Wrangling***

### Data Wrangling Code

In [ ]:
md.isnull().sum()

In [ ]:
md2.isnull().sum()

In [ ]:
# Write your code to make your dataset analysis ready.
md.fillna({'neighbourhood_group': "Not Available"},inplace=True)

In [ ]:
md.fillna({'price': 0},inplace=True)

In [ ]:
md.fillna({'last_review': "Not Available"},inplace=True)

In [ ]:
md.fillna({'reviews_per_month': "Not Available"},inplace=True)

In [ ]:
md.fillna({'license': "Not Available"},inplace=True)

In [ ]:
md2.fillna({'host_name': "Not Available"},inplace=True)

In [ ]:
md2.fillna({'neighbourhood_group': "Not Available"},inplace=True)

In [ ]:
md2.fillna({'price': 0},inplace=True)

In [ ]:
md2.fillna({'last_review': "Not Available"},inplace=True)

In [ ]:
md2.fillna({'reviews_per_month': "Not Available"},inplace=True)

In [ ]:
md2.fillna({'license': "Not Available"},inplace=True)

### What all manipulations have you done and insights you found?

The following manipulations we have done to make our datasets clutter free and ready for visualization to analyse the trends:-

1) Removed missing values for columns and replaced missing or null values with either 0 or Not available statement.
2) Dropped the license the column to make dataset clutter free.
3) As there were no duplicate values in the dataset so there was no need for duplicate value removal.

# **Conclusion For the Project to do Further Visualization on PowerBI and analyse various trends**

The following are the concluding points:-

1) The dataset contains no duplicates.
2) Both datset has 18 columns.
3) Chicago dataset has 8748 rows and Orleans dataset has 7842 rows.
4) Both dataset were having some missing values which we removed during data wrangling.
5) Removed the license column to make dataset clutter free for both datasets.

Now the datasets are ready for data visualization through Microsoft PowerBi app to analyse patterns to solve business problems thus to improve growth of organisation.

### Exporting the cleaned dataset to local system for further visualization process in Microsoft powerBi app

In [ ]:
md.to_csv("listings_C.csv")

In [ ]:
md2.to_csv("listings_O.csv")